<a href="https://colab.research.google.com/github/r2x4/prueba_cac_abogados/blob/main/cac_abogados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Prueba CAC Abogados**

In [130]:
# llamar datos

import pandas as pd

datos = pd.read_csv('/content/Base_prueba_2025 .csv', sep=';' )

In [131]:
datos.sample(7)

,FECHA_EVOLUCION,IDENTIFICACION,NOMBRE_TITULAR,SALDO_TOTAL_CLIENTE,RXM_ACTUAL,TIPO_CLIENTE,LINEA_CLIENTE,LINEA_PRODUCTO,MACROPORTAFOLIO,EXM_INICIAL,FECHA_ASIGNACION,AÑO
589632,2024-12-31,1.127338e+09,COMBITA TRUJILLO ILIA,260432309.0,9999.0,n.d,CS,VH,VEHICULO,CASTIGO,DICIEMBRE,2024
278610,2024-05-31,3.542672e+07,TELLEZ ZARATE ANA EXILDA,33632365.0,120.0,Clasico,CS,CS,MONOCX,E90,MAYO,2024
158067,2024-02-29,1.036670e+09,ALEJANDRO SOSSA C,283814771.0,9999.0,n.d,CS,NaN,VEHICULO,CASTIGO,FEBRERO,2024
461004,2024-08-31,5.530411e+07,VASQUEZ ROMERO KAREN MARGARITA,257896326.0,9999.0,n.d,CS,CS,MULTICS,MIXTO,AGOSTO,2024
42804,2024-04-30,7.915185e+07,NICOLAS J BARGUIL F,229997274.0,9999.0,Premium,CH,NaN,HIPOTECARIO,MIXTO,ABRIL,2024
8893,2024-04-30,1.144036e+09,GARCES PENA JUAN DAVID,135779423.0,9999.0,n.d,CS,CS,MONOCX,CASTIGO,ABRIL,2024
127729,2024-02-29,2.840389e+07,ABIGAIL GOMEZ F,168737631.0,9999.0,Clasico,CS,NaN,RURAL,CASTIGO,FEBRERO,2024

In [132]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664293 entries, 0 to 664292
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FECHA_EVOLUCION      664292 non-null  object
 1   IDENTIFICACION       664292 non-null  float64
 2   NOMBRE_TITULAR       664112 non-null  object
 3   SALDO_TOTAL_CLIENTE  664112 non-null  float64
 4   RXM_ACTUAL           650871 non-null  float64
 5   TIPO_CLIENTE         664292 non-null  object
 6   LINEA_CLIENTE        664292 non-null  object
 7   LINEA_PRODUCTO       520154 non-null  object
 8   MACROPORTAFOLIO      664292 non-null  object
 9   EXM_INICIAL          664292 non-null  object
 10  FECHA_ASIGNACION     664292 non-null  object
 11  AÑO                  664293 non-null  int64
dtypes: float64(3), int64(1), object(8)
memory usage: 60.8+ MB

In [133]:
# datos nulos
datos.isnull().sum()

FECHA_EVOLUCION             1
IDENTIFICACION              1
NOMBRE_TITULAR            181
SALDO_TOTAL_CLIENTE       181
RXM_ACTUAL              13422
TIPO_CLIENTE                1
LINEA_CLIENTE               1
LINEA_PRODUCTO         144139
MACROPORTAFOLIO             1
EXM_INICIAL                 1
FECHA_ASIGNACION            1
AÑO                         0
dtype: int64

In [134]:
datos['FECHA_ASIGNACION'].unique()

array(['ABRIL', '202401', 'FEBRERO', 'MARZO', 'MAYO', 'JUNIO', 'JULIO',
       'AGOSTO', 'SEPTIEMBRE', 'OCTUBRE', nan, 'NOVIEMBRE', 'DICIEMBRE',
       'ENERO'], dtype=object)

In [135]:
print(datos.columns.tolist())

['FECHA_EVOLUCION', 'IDENTIFICACION', 'NOMBRE_TITULAR', 'SALDO_TOTAL_CLIENTE', 'RXM_ACTUAL', 'TIPO_CLIENTE', 'LINEA_CLIENTE', 'LINEA_PRODUCTO', 'MACROPORTAFOLIO', 'EXM_INICIAL', 'FECHA_ASIGNACION', 'AÑO']

In [136]:
datos.describe()

       IDENTIFICACION  SALDO_TOTAL_CLIENTE     RXM_ACTUAL            AÑO
count    6.642920e+05         6.641120e+05  650871.000000  664293.000000
mean     4.715052e+08         1.180369e+08    4467.062114    2024.113754
std      5.036787e+08         1.588102e+08    4929.063091       0.317513
min      2.522000e+04         0.000000e+00       0.000000    2024.000000
25%      4.166254e+07         1.783153e+07      60.000000    2024.000000
50%      8.065687e+07         6.450916e+07     180.000000    2024.000000
75%      1.045744e+09         1.568415e+08    9999.000000    2024.000000
max      2.000011e+09         1.254467e+10    9999.000000    2025.000000

In [137]:
datos.dtypes

FECHA_EVOLUCION         object
IDENTIFICACION         float64
NOMBRE_TITULAR          object
SALDO_TOTAL_CLIENTE    float64
RXM_ACTUAL             float64
TIPO_CLIENTE            object
LINEA_CLIENTE           object
LINEA_PRODUCTO          object
MACROPORTAFOLIO         object
EXM_INICIAL             object
FECHA_ASIGNACION        object
AÑO                      int64
dtype: object

In [138]:
datos.shape

(664293, 12)

In [140]:
datos.sample(15)

,FECHA_EVOLUCION,IDENTIFICACION,NOMBRE_TITULAR,SALDO_TOTAL_CLIENTE,RXM_ACTUAL,TIPO_CLIENTE,LINEA_CLIENTE,LINEA_PRODUCTO,MACROPORTAFOLIO,EXM_INICIAL,FECHA_ASIGNACION,AÑO,MES_NUMERO,MES
563972,2024-12-31,1.013638e+09,JAMES J COLORADO P,2.796343e+08,120.0,Clasico,CH,NaN,TITULARIZADO,E90,DICIEMBRE,2024.0,12.0,DECEMBER
147198,2024-02-29,7.948996e+07,NINO VILLAMIZAR JOSE MANUEL,3.346203e+08,9999.0,Premium,CS,CS,MONOCX,CASTIGO,FEBRERO,2024.0,2.0,FEBRUARY
515244,2024-10-31,1.152460e+09,ZULUAGA ROSS SIMON,1.626516e+09,9999.0,Clasico,CH,VH,HIPOTECARIO,MIXTO,OCTUBRE,2024.0,10.0,OCTOBER
115599,2024-01-31,4.361351e+07,VELASQUEZ ARBOLEDA BEATRIZ ELE,1.359807e+08,150.0,n.d,CS,CS,MULTICS,E120,202401,2024.0,1.0,JANUARY
300918,2024-05-31,7.174581e+07,ZULUAGA ALVAREZ JUAN CARLOS,2.274460e+08,9999.0,Premium,CS,CH,RURAL,MIXTO,MAYO,2024.0,5.0,MAY
244696,2024-05-31,1.032434e+09,VARGAS ALVIRA YULIETH DANIELA,2.085762e+08,0.0,n.d,CH,CH,HIPOTECARIO,E60,MAYO,2024.0,5.0,MAY
585659,2025-01-31,8.605173e+07,MONCADA BOLIVAR CARLOS ALFONSO,5.286317e+07,9999.0,n.d,CS,CS,MULTICS,CASTIGO,ENERO,2025.0,1.0,JANUARY
633063,2025-02-28,4.416390e+06,MEJIA GOMEZ JOHN FREDY,1.272009e+08,9999.0,Clasico,CS,CS,MULTICS,CASTIGO,FEBRERO,2025.0,2.0,FEBRUARY
79162,2024-01-31,2.198049e+07,JARAMILLO BETANCUR SOL BEATRIZ,2.481454e+06,150.0,Clasico,CS,CS,RURAL,E120,202401,2024.0,1.0,JANUARY
46251,2024-04-30,2.273247e+07,HERNANDEZ RAMIREZ MAYRA ALEJAN,2.742051e+07,90.0,Clasico,CS,CS,MULTICS,E60,ABRIL,2024.0,4.0,APRIL
19040,2024-04-30,1.121927e+09,MORENO VELEZ MARIA CAMILA,2.635825e+07,30.0,n.d,CS,CS,MONOCX,E30,ABRIL,2024.0,4.0,APRIL
202512,2024-05-31,1.143925e+09,MURILLO MARIN LEIDY MARCELA,9.514601e+06,9999.0,n.d,CS,CS,MONOCX,E>120,MAYO,2024.0,5.0,MAY
209768,2024-03-31,6.036784e+07,ORDUZ DIAZ AURA YOLIMA,4.166701e+06,30.0,Clasico,CS,CS,MONOCX,E30,MARZO,2024.0,3.0,MARCH
551165,2024-10-31,9.864851e+07,LUIS F MONSALVE J,1.284955e+08,150.0,n.d,CS,NaN,MULTICS,E120,OCTUBRE,2024.0,10.0,OCTOBER
68939,2024-01-31,1.110488e+09,GALEANO PORTELA SANDRA MILENA,7.185786e+07,150.0,n.d,CH,CS,HIPOTECARIO,E120,202401,2024.0,1.0,JANUARY

In [141]:
# datos nulos
datos.isnull().sum()

FECHA_EVOLUCION             1
IDENTIFICACION              1
NOMBRE_TITULAR            181
SALDO_TOTAL_CLIENTE       181
RXM_ACTUAL              13422
TIPO_CLIENTE                1
LINEA_CLIENTE               1
LINEA_PRODUCTO         144139
MACROPORTAFOLIO             1
EXM_INICIAL                 1
FECHA_ASIGNACION            1
AÑO                         1
MES_NUMERO                  1
MES                         1
dtype: int64

In [143]:
datos.to_csv('datos.csv', index=False)